@page
@model Utterly.Pages.Administrator.IndexModel
@{
    ViewData["Title"] = "Adminsida";
}
<h1>@ViewData["Title"]</h1>

<div class="list-group">
    <a asp-page="/Administrator/Users" class="list-group-item list-group-item-action">Hantera användare</a>
    <a asp-page="/Administrator/Categories" class="list-group-item list-group-item-action">Hantera kategorier</a>
    <a asp-page="/Administrator/Posts" class="list-group-item list-group-item-action">Hantera inlägg</a>
    <a asp-page="/Administrator/Roles" class="list-group-item list-group-item-action">Hantera roller</a>
</div>