@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="Input.BirthDate" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Input.BirthDate"></label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="namen@exempel.se" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrera</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function ($) {
            $.validator.addMethod("minage", function (value, element, param) {
                if (!value) return true; // Hanteras av [Required]
                var inputDate = new Date(value);
                var today = new Date();
                var age = today.getFullYear() - inputDate.getFullYear();
                var m = today.getMonth() - inputDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < inputDate.getDate())) {
                    age--;
                }
                return age >= param;
            });

            $.validator.unobtrusive.adapters.addSingleVal("minage", "minage");
        })(jQuery);
    </script>

}
